/*COLOURS
Green - #92C04E
Pink - #F03C69
Dark Grey - #2B2926
Light Grey - #EEEEEE
Teal - #00AB96
Blue - #6399AB
*/

/* GLOBALS */

@font-face { font-family: Gotham; src: url('../fonts/Gotham-Light.otf');}
@font-face { font-family: Gotham; font-weight: bold; src: url('../fonts/Gotham-Bold.otf');}
@font-face { font-family: Gotham; font-style: italic ; src: url('../fonts/Gotham-BookItalic.otf');}

body {
    font-family: "Gotham", sans-serif;
}

h1 {
    font-weight: bold;
}

.custom-field-btn {
    color: #fff;
    text-transform: uppercase;
    width: 33%;
    height: 60px;
    border-radius: 40px;
}

.primary-btn {
    background-color: #92C04E;
}

.submit-btn {
    background-color: #F03C69;
}

.register-btn {
    background-color: #000;
}

.custom-btn-wrapper {
    display: flex;
    justify-content: center;
}


.nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.active {
    border-bottom: 2px solid black;
}

.container {
    margin-bottom: 80px;
    margin-top: 80px;
}

.container-fluid {
    padding: 30px 30px;
    background-color: white;
}

.header-logo {
    height: 50px;
    width: 200px;
    padding: 0px 10px;
    border-right: 2px solid black;
}

.navbar-header {
    display: flex;
}

.navbar-toggle {
    margin-left: auto;
}

.header-title {
    padding-left: 10px;
    font-weight: bold;
    color: black;
    width: 50px;
    word-wrap: wrap;
    text-transform: uppercase;
}

.icon-bar {
    background-color: black;
}

#header-nav {
    padding-right: 30px;
    box-shadow:0px 2px 2px #ebebeb
}
<<<<<<< HEAD


.footer {
  position: absolute;
  height: 150px;
  width: 1440px;
  bottom: 0;
  padding: 0px 10;
  padding-top: 10px;
  text-align: center;
  font-family: Gotham;
  font-size: 12px;
  background-color: #EEEEEE;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 25px;

}
.footer p:last-child {
  margin-bottom: 10;
  font-family: Gotham;
}
#footer-logo-vertical-line {
height: 51.1px;
width: 190px;
border-right: 2px solid black;
padding: 0px 10px;
}
=======
>>>>>>> origin
