/*COLOURS
Green - #92C04E
Pink - #F03C69
Dark Grey - #2B2926
Light Grey - #EEEEEE
Teal - #00AB96
Blue - #6399AB
*/

/* GLOBALS */

@font-face { font-family: Gotham; src: url('../fonts/Gotham-Light.otf');}
@font-face { font-family: Gotham; font-weight: bold; src: url('../fonts/Gotham-Bold.otf');}
@font-face { font-family: Gotham; font-style: italic ; src: url('../fonts/Gotham-BookItalic.otf');}

body {
    font-family: "Gotham", sans-serif;
}

h1 {
    font-weight: bold;
}

ul > li > a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.active {
    border-bottom: 2px solid black;
}

.container {
    margin-bottom: 80px;
    margin-top: 80px;
}

.container-fluid {
    padding: 30px 30px;
    background-color: white;
    box-shadow:0px 5px 5px #ebebeb
}

.header-logo {
    height: 50px;
    width: 200px;
    padding: 0px 10px;
    border-right: 2px solid black;
}

.navbar-header {
    display: flex;
}

.navbar-toggle {
    margin-left: auto;
}

.header-title {
    padding-left: 10px;
    font-weight: bold;
    color: black;
    width: 50px;
    word-wrap: wrap;
    text-transform: uppercase;
}

.icon-bar {
    background-color: black;
}
.welcome-section {
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.welcome-text {
    align-self: center;
    padding: 0px 100px;
}

.welcome-text > span:nth-child(1) {
    font-size: 25px;
}

.welcome-text > span:nth-child(2) {
    font-size: 20px;
}

.mid-section {
    width: 100%;
    background-color: #eeeeee;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.lower-section {
    padding: 0px 100px;
}

.lower-section > p {
    font-size: 36px;
    padding: 20px 0px;
}
.section-title {
    align-self: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.section-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-top: 10px;
    border-bottom: solid 0.5px #F03C69;
}

.dot {
    height: 275px;
    width: 275px;
    display: inline-block;
    border-radius: 50%;
    flex-direction: column;
}

.dot-wrapper {
    display: flex;
    flex-direction: column;
}

.round-list-number {
    height: 60px;
    width: 60px;
    padding: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: #92C04E;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 5px 0px;
}

.list-steps {
    display: flex;
    flex-direction: column;
}

.programs {
    display: flex;
    justify-content: space-evenly;
}

.program-title {
    align-self: center;
    font-size: 30px;
    padding-top: 15px;
}

.img-container {
    width: 100%;
}

.home-page-img {
    width: 100%;
}

